<!doctype html>
<html>
  <head>
    <title><%=forumName%> Add Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add Books</h1>
    <form method="POST" action="/bookadded">
      <p>Post: <input id="name" name="name" type="text" value="" placeholder="Post Title" /></p>
      <p>Content: <input id="content" name="content" type="text" value="" placeholder="Start your thread..." size="50"></p>
      <input type="submit" value="Add book" />
    </form>
    <p><a href="/">Home</a></p>
  </body>
</html>
