<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <p><a href="posts">Posts</a></p>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="search">Search for posts</a></p>
    <p><a href="add-new-post">Add new post</a></p>

    <p><a href="add-new-user">Create your own account</a></p>
    <p><a href="users">Users</a></p>
    <p><a href="topics">Topics</a></p>
  </body>
</html>
