<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results - <%= forumName %></title>
</head>
<body>
  <h1>Search Results for '<%= searchQuery %>'</h1>
  <ul>
    <% searchResults.forEach(post => { %>
      <li><%= post.title %> by <%= post.author %></li>
    <% }); %>
  </ul>
</body>
</html>
